<a href="https://colab.research.google.com/github/ROARMarketingConcepts/Cornell_ML_Course/blob/main/More_Numpy_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

#### Mode Function

In this first exercise, we will write a `mode` function. The mode function takes as input a list and returns the most frequent element. i.e. `mode([3,5,5,8,8,5]) = 5`

In [2]:
a = [np.random.randint(5) for x in range(10)]
a

[2, 4, 1, 1, 3, 1, 4, 0, 4, 4]

In [3]:
def mode(x):
  count=0
  number=0
  for num in x:
    num_count = x.count(num)
    if num_count > count:
      count=num_count
      number=num
  return number

In [4]:
number=mode(a)
number

4

#### Mode Over Matrix Columns
Create a function that finds the mode of columns.

In [5]:
def modeC(M):
  return [mode(list(column)) for column in M.T]

In [6]:
M = np.int16(np.round(np.random.rand(10,8)*3.0))
M

array([[1, 1, 0, 2, 3, 1, 0, 2],
       [2, 1, 2, 1, 1, 0, 1, 2],
       [0, 2, 1, 2, 2, 2, 3, 0],
       [1, 1, 2, 1, 0, 3, 1, 1],
       [2, 1, 0, 0, 1, 2, 1, 0],
       [1, 2, 1, 2, 2, 0, 1, 0],
       [1, 3, 0, 3, 3, 3, 1, 1],
       [1, 3, 1, 0, 2, 1, 2, 2],
       [1, 1, 1, 0, 0, 0, 1, 3],
       [1, 1, 1, 3, 0, 1, 3, 2]], dtype=int16)

In [7]:
modes=modeC(M)
modes

[1, 1, 1, 2, 2, 1, 1, 2]

#### Add a Vector to a Matrix

In [9]:
M = np.random.rand(3,8)
M

array([[0.6807957 , 0.80956956, 0.81855112, 0.36556193, 0.80767451,
        0.96082471, 0.62647964, 0.45519648],
       [0.09198329, 0.71319458, 0.69658256, 0.24495194, 0.65523479,
        0.95543571, 0.67035644, 0.64595289],
       [0.37017313, 0.62377451, 0.09608615, 0.44178189, 0.43813031,
        0.96945499, 0.69594262, 0.67912269]])

In [10]:
v = np.random.rand(3)
v

array([0.37237738, 0.05982098, 0.49985366])

Add $\vec{v}$ to each column of $M$.

In [13]:
result = M+v.T.reshape(3,1)
result

array([[1.05317308, 1.18194694, 1.1909285 , 0.7379393 , 1.18005189,
        1.33320209, 0.99885701, 0.82757386],
       [0.15180427, 0.77301556, 0.75640354, 0.30477292, 0.71505577,
        1.01525669, 0.73017742, 0.70577388],
       [0.8700268 , 1.12362818, 0.59593981, 0.94163555, 0.93798398,
        1.46930865, 1.19579629, 1.17897636]])

#### Set Negative Values to Zero

Now, replace negative vales in a matrix with zeros, which is useful when we need to compute square roots.

Set all negative values of matrix `Q = np.random.rand(5,5) - 0.5` to zero.

In [14]:
Q = np.random.rand(5,5) - 0.5
Q

array([[ 0.41555037, -0.130721  , -0.17313601, -0.00219531, -0.42942796],
       [-0.03668273, -0.36163955,  0.0908425 ,  0.29481735, -0.15432338],
       [ 0.13950368,  0.36458818,  0.22526803, -0.33050081, -0.07342907],
       [ 0.32290067,  0.01591336, -0.27698094, -0.01637098,  0.28114224],
       [ 0.48337905, -0.11758232, -0.42852649,  0.11746303,  0.15570479]])

In [15]:
# code to replace all negative value with 0
Q[Q<0] = 0
Q

array([[0.41555037, 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.0908425 , 0.29481735, 0.        ],
       [0.13950368, 0.36458818, 0.22526803, 0.        , 0.        ],
       [0.32290067, 0.01591336, 0.        , 0.        , 0.28114224],
       [0.48337905, 0.        , 0.        , 0.11746303, 0.15570479]])

#### Find Index of the Minimum Value for Each Row

Finding the index for the minimum value for each row.
We will find the minimum value for each row in a matrix. This is useful when we are implementing nearest neighbors.

In [16]:
D = np.array([[1, 7, 7, 8],[4, 8, 2, 8],[2, 0, 4, 5]])
D

array([[1, 7, 7, 8],
       [4, 8, 2, 8],
       [2, 0, 4, 5]])

Find the index for the minimum value for each row. We should get `[0, 2, 1]`

In [20]:
D.min(axis=1)

array([1, 2, 0])

#### Repeat a vector to make a matrix

Here we will practice how a vector can be repeated along rows or columns to form a matrix. This will be helpful later in one of the projects.

In [54]:
v=np.random.rand((3))  # 1-dimensional array
v=np.array([v])    # convert v.shape from (3,) to (1,3)
v,v.shape

(array([[0.77687133, 0.25060497, 0.33631778]]), (1, 3))

Create a 3 x 8 matrix $M_1$, where each column of the matrix is $\vec{v}$. That is, all the entries in row $i$ of $M_1$ are $\vec{v[i]}$.
Next, create a 10 by 3 matrix $M_2$, where each row of the matrix is $\vec{v}$. That is, all the entries in column $j$ of $M_2$ are $\vec{v[j]}$.

In [58]:
M1=np.tile(v.T,(1,8))
M1

array([[0.77687133, 0.77687133, 0.77687133, 0.77687133, 0.77687133,
        0.77687133, 0.77687133, 0.77687133],
       [0.25060497, 0.25060497, 0.25060497, 0.25060497, 0.25060497,
        0.25060497, 0.25060497, 0.25060497],
       [0.33631778, 0.33631778, 0.33631778, 0.33631778, 0.33631778,
        0.33631778, 0.33631778, 0.33631778]])

In [59]:
M2=np.tile(v,(10,1))
M2

array([[0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778],
       [0.77687133, 0.25060497, 0.33631778]])